@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');


html,
body {
    height: 100%;
    margin: 0;
}
.navbar{
    background-color: rgb(214, 239, 52);
    margin: 0;
    text-align: center;
    width: 100vw;
}
.navbar h2{
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
}
.empty{
    color: #908282;
    font-size: 30px;
    text-align: center;
}
.empty i{
    font-size: 70px;
}
.notes {
    display: flexbox;
    height: 100%;
}
.notes * {
    font-family: 'Open Sans', sans-serif;
}
.content{
    display: flex;
    height: 100vh;
}
.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 320px;
}
.notes_small_title_delete{
    display: flex;
    justify-content: space-between;
}
.notes_small_title_delete i{
    margin: 5px;
    padding: 10px;
}
.notes__add {
    background: dodgerblue;
    border-radius: 7px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    transition: 0.2s all;
    width: 100%;
}
.notes__add:hover {
    -moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    background: rgb(5, 127, 248);
    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
}
.notes__add:active{
    transform: scale(0.8);
}
.notes__list-item {
    background-color:rgba(127, 255, 212, 0.126);
    border-radius: 7px;
    color: black;
    cursor: pointer;
    margin: 10px auto;
}
.notes__list-item:hover{
    -moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    background-color:rgba(29, 85, 66, 0.126);
    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
}
.notes__list-item--selected {
    background: rgb(214, 239, 52);
    border-radius: 7px;
    font-weight: bold;
}
.notes__list-item--selected:hover{
    -moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    background: rgb(208, 228, 77);
    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
}
.notes__small-title,
.notes__small-updated {
    padding: 10px;
}
.notes__small-title {
    font-size: 1.2em;
    overflow-x: hidden;
}
.notes__small-body {
    font-style: italic;
    padding: 0 10px;
}
.notes__small-updated {
    color: #000000;
    font-size: 13px;
    font-style: italic;
    text-align: right;
}
.notes__preview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2em 3em;
}
.notes__body{
    background: #f0eff3;
    border-radius: 10px;
    font-style: italic;
    padding: 10px;
}
.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}
.notes__title {
    font-size: 3em;
    font-weight: bold;
}
.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}
.notes__body:hover{
    -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.4);
}
.save-btn{
    background-color: dodgerblue;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 40px;
    margin: 15px 0 0 auto;
    transition: 0.2s all;
    width: 100px;
}
.save-btn:hover{
    -moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.4);
}
*{
    scrollbar-color: dodgerblue #ffffff;
    scrollbar-width: auto;
}
*::-webkit-scrollbar {
    width: 13px;
}
*::-webkit-scrollbar-track {
    background: #ffffff;
}
*::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.save-btn:active{
    transform: scale(0.7);
}
.notes_delete:hover{
   color: #5a5050;
}

@media only screen and (max-width: 800px) {
    .content{
        display: block;
    }
    .notes__sidebar{
        border: none;
        display:grid;
        overflow-x: auto;
        padding: 0;
        width: 100%;
    }
    .notes__add{
        margin: 0 auto;
        width: 300px;
    }
    .notes__list-item,.notes__list-item--selected{
        display: block;
        margin: 26px;
        min-height: 150px;
        min-width: 200px;
    }
    .notes__list{
        display: flex;
        overflow-x: auto;
        width: 100%;
    }
    .notes__add{
        margin: 10px auto;
    }
    #count{
        margin: auto;
        padding: 10px;
    }
    .notes__small-body{
        overflow-y:visible;
    }
    .notes__small-title,.notes__small-body{
        overflow-x: hidden;
        width: 70%;
    }
    .notes__title{
        font-size: 30px;
        margin: auto;
    }
    .notes__body{
        margin: 10px auto;
        position: relative;
        right: 7px;
    }
    .notes__preview{
        height: 40%;
    } 
}